@import url("https://fonts.googleapis.com/css?family=Open+Sans:600,700");

body {
  font-family: "Open sans", serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

li {
  border: 1px solid lightblue;
  margin-top: 3px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

li a:hover:not(.active) {
}

#menubar2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
  margin-top: 35vh;
}

#start {
  background: #3498db;
  width: 180px;
  padding: 4px 0;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;
  height: 10vh;
  width: 10vw;
  font-family: "Open sans", serif;
  font-size: 1em;
  color: white;
  cursor: pointer;
}

.header {
  position: absolute;
}

.hidden {
  display: none;
}

.three ul {
  padding: 70px;
  background: white;
}
.three li {
  display: inline-block;
}
.three a {
  padding: 1em;
  display: block;
  color: rgb(8, 128, 249);
  border-right: 1px solid #bad78b;
  background: rgb(238, 250, 246);
}

.three a:hover {
  border: 1px solid blue;
}

.vertical-menu {
  padding-left: 220px;
  width: 200px; /* Set a width if you like */
  display: block;
}

.vertical-menu a {
  border: 1px solid lightblue;
  border-radius: 10px;
  padding: 1em;
  background-color: rgb(238, 250, 246);
  color: black;
  display: block;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: rgb(42, 117, 147);
  color: white;
}

#menubar2 {
  position: absolute;
  padding: 5px;
  left: 520px;
  top: -130px;
}

.content {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%) translateY(-50%);
}

header {
  display: flex;
  flex-direction: right;
  justify-content: space-between;
}

#logout {
  border-radius: 15px;
  border: solid 1px;
  color: white;
  background: darkblue;
  margin-top: 11px;
}

#container {
}
